<div class="container">
  <div class="card text-center">
    <div class="card-header">
      Here are the details of:
    </div>
    <div class="card-body">
      <h5 class="card-title"> <p><%= @list.name.upcase %></p></h5>
        <a href="/lists" class="btn btn-primary">Back to ALL</a>
    </div>
  </div>
</div>
