<div class="container">
  <div class="col-md">
  <div class="row">
    <h1> Here are the details of: </h1><br>

    <div class="col-4">
      <h2><%= @list.name %></h2>
  </div>
    <%= link_to "Back to ALL", root_path %>
  </div>
</div>

</div>
